#event {
  width: 60%;
  margin: 50px auto 140px;
  max-height: 100%;
  text-align: center;
  align-items: center;
  height: 45%;


  span {
    font-family: $font1;
    color: $color3;
    font-size: 1.6rem;
  }

  h2 {
    text-transform: uppercase;
    color: $color2;
    font-family: $font2;
    font-size: 1.7rem;
  }

  .img {
    padding: 15px 0 15px;
  }

  .event-contain {
    display: grid;
    grid-template-columns: 65% 35%;

    .left-part {
        
      .left-contain {
        display: flex;
        background: $color2;
        margin-bottom: 15px;
        align-items: center;
        position: relative;
        
      

        img {
          width: 200px;
        }
        div {
          text-align: left;
          padding-left: 15px;
          width: 250px;

          h3 {
            font-family: $font3;
            padding-left: 10px;
          }
          p {
            padding: 20px 0;
            font-size: 15px;
            color: rgb(147, 138, 138);
            font-family: $font3;

            i {
              font-size: 15px;
            }
          }

          h4 {
            text-transform: uppercase;
            font-family: $font3;
          }
        }
      }
    }

    .right-part {
      margin-left: 15px;
      background: url(/img/event-03.jpg)center/cover;
      
      
      div {
        background: $color2;
        height: 90%;
        margin: 20px 20px;
        align-items: center;
        text-align: center;

        h3 {
          font-family: $font3;
          padding-left: 10px;
        }
        p {
          padding: 20px 0;
          font-size: 15px;
          color: rgb(147, 138, 138);
          font-family: $font3;

          i {
            font-size: 15px;
          }
        }

        h4 {
          text-transform: uppercase;
          font-family: $font3;
        }
      }
    }
  }
}
